// colors
$accent-gray: #bbb;
$light-gray: #fafafa;
$dark-gray: #444;
$midnight-gray: #222;

// spacing
$full-space: 40px;
$half-space: 20px;

// fonts
$open-sans: 'OpenSans-Regular', sans-serif;
$open-sans-light: 'OpenSans-Light', sans-serif;
$open-sans-bold: 'OpenSans-Bold', sans-serif;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;
